<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-brand p-2"><i class="fa fa-2x fa-regular fa-compass"></i></div>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/" [routerLinkActive]="['selected-tab']"
            [routerLinkActiveOptions]="{exact : true}">
            Home
          </a>
          <a class="nav-item nav-link" routerLink="/datatable" [routerLinkActive]="['selected-tab']"
            [routerLinkActiveOptions]="{exact : true}">
            Datatable
          </a>
          <a *ngIf="!loggedIn" class="nav-item nav-link" href="/login">
            Prijava
          </a>
          <a *ngIf="loggedIn" class="nav-item nav-link" routerLink="/userprofile" [routerLinkActive]="['selected-tab']">
            Korisnički profil
          </a>
          <a *ngIf="loggedIn" class="nav-item nav-link" (click)="refreshFiles()" href="#">
            Osvježi preslike
          </a>
          <a *ngIf="loggedIn" class="nav-item nav-link" href="/logout">
            Odjava
          </a>
        </div>
      </div>
    </div>
  </nav>