<div class="container">
    <h1>Hello user: <strong>{{userData.nickname}}</strong></h1>
    <ul>
        <li><strong>Nickname:</strong> {{userData.nickname}}</li>
        <li><strong>Name:</strong> {{userData.name}}</li>
        <li><strong>Picture at:</strong> {{userData.picture}}</li>
        <li><strong>Updated at:</strong> {{userData.updated_at}}</li>
        <li><strong>Email:</strong> {{userData.email}}</li>
        <li><strong>Email verified:</strong> {{userData.email_verified}}</li>
        <li><strong>sub:</strong> {{userData.sub}}</li>
        <li><strong>sid:</strong> {{userData.sid}}</li>
    </ul>
</div>
