<div class="container pt-1 pb-3">
    <h1>Workout Planner Data</h1>
    <p>
        Podaci sadrže plan treninga (workouts) s njihovim bitnim značkama i sadrže jednu ili više tjelovježbi
        (exercises) s određenim ponavljanjima i težinom vježbe.
    </p>
    <dl>
        <dt>Licencija</dt>
        <dd>Creative Commons BY-SA - Imenovanje, dijeli pod istim uvjetima</dd>
        <br>

        <dt>Autor</dt>
        <dd>Vedran Bedeković</dd>
        <br>

        <dt>Verzija</dt>
        <dd>2.0</dd>
        <br>

        <dt>Jezik podataka</dt>
        <dd>Engleski</dd>
        <br>

        <dt>Datum izrade</dt>
        <dd>28.10.2022.</dd>
        <br>

        <dt>Datum zadnje izmjene</dt>
        <dd>28.10.2022.</dd>
        <br>

        <dt>Ključne riječi</dt>
        <dd>gym, workout, planner, exercise</dd>
        <br>

        <dt>Baza podataka</dt>
        <dd>PostgreSQL</dd>
        <br>

        <dt>Način zapisa</dt>
        <dd>UTF-8</dd>
        <br>

        <dt>Formati</dt>
        <dd>CSV i JSON</dd>
        <br>

    </dl>

    <h3>Atributi</h3>
    <dl>
        <dt>name</dt>
        <dd>naziv treninga</dd>
        <br>

        <dt>workout_type</dt>
        <dd>određuje tip treninga</dd>
        <br>

        <dt>target_muscle_groups</dt>
        <dd>lista ciljanih mišićnih skupina u treningu</dd>
        <br>

        <dt>duration</dt>
        <dd>određuje trajanje treninga</dd>
        <br>

        <dt>rest_interval</dt>
        <dd>određuje vrijeme odmora između serija i vježbi</dd>
        <br>

        <dt>time_of_day</dt>
        <dd>određuje doba dana kada odraditi trening</dd>
        <br>

        <dt>weekday</dt>
        <dd>određuje koji dam u tjednu odraditi trening (od 1 == Pon do 7 == Ned)</dd>
        <br>

        <dt>water_intake_l</dt>
        <dd>određuje preporučenu količinu vode u litrama</dd>
        <br>

        <dt>environment</dt>
        <dd>određuje okolinu u kojoj se odrađuje trening</dd>
        <br>

        <dt>exercises</dt>
        <dd>lista vježbi koje sadrži trening</dd>
        <br>
        <br>


        <dt>exercise_name</dt>
        <dd>naziv vježbe</dd>
        <br>

        <dt>weight_from</dt>
        <dd>početna kilaža u kilogramima</dd>
        <br>

        <dt>weight_to</dt>
        <dd>maksimalna kilaža u kilogramima</dd>
        <br>

        <dt>weight_increment</dt>
        <dd>određeno povećanje kilaže završetkom jednog ponavljanja</dd>
        <br>

        <dt>reps</dt>
        <dd>broj ponavljanja u jednoj seriji</dd>
        <br>

        <dt>sets</dt>
        <dd>broj ponavljanja serija</dd>
        <br>

    </dl>


    <h5> Poveznice na podatke u formatu:</h5>
    <ul>
        <li>
            <a href="/workoutPlanner.csv">CSV</a>
        </li>
        <li>
            <a href="/workoutPlanner.json">JSON</a>
        </li>
    </ul>
</div>